{% extends 'employees/base.html' %}
{% load static %}

{% block externallink %}
<link rel="stylesheet" href="{% static 'css/formstyle.css' %}">
{% endblock %}




{% block content %}

<div class="container register">
    {%if message %}
    <div class="alert alert-danger text-center" role="alert">{{message}}</div>
    {% endif %}
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                               <!-- <a class="nav-link {{rval}}" id="home-tab" data-toggle="tab" href="{% url 'signup' %}" role="tab" aria-controls="home" aria-selected="{{regval}}">Register</a>-->
                                <a class="nav-link {{rval}}" href="{% url 'signup' %}" aria-selected="{{logval}}">Register</a>
                            </li>
                            <li class="nav-item">
                     <!--  <a class="nav-link {{lval}}" id="profile-tab" data-toggle="tab" href="{% url 'login' %}" role="tab" aria-controls="profile" aria-selected="{{logval}}">Login</a> -->
                                <a class="nav-link {{lval}}" href="{% url 'login' %}" aria-selected="{{logval}}">Login</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show {{rval}}" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Apply as a Employee</h3>
                                <form action="{% url 'signup' %}" method="POST">
                                    {% csrf_token %}
                                <div class="row register-form">
                            
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="r_fname">First Name</label>
                                            <input type="text" id='r_fname' class="form-control" placeholder="First Name *" name="fname" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="r_lname">Last Name</label>
                                            <input type="text" id="r_lname" class="form-control" placeholder="Last Name *" name="lname" value="" />
                                        </div>   
                                        <div class="form-group">
                                            <label for="r_eid">Employee ID</label>
                                            <input type="text" id="r_eid" class="form-control" placeholder="Employee ID *" name="eid" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="r_fpassword">Password</label>
                                            <input type="password" id="r_fpassword" class="form-control" placeholder="Password *" name="fpassword" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="r_spassword">Confirm Password</label>
                                            <input type="password"  id="r_spassword" class="form-control"  placeholder="Confirm Password *" name="spassword" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="r_gender">Gender</label>
                                            <div class="maxl" id ='r_gender'>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="male" >
                                                    <span> Male </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Female </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="other">
                                                    <span>Other </span> 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="r_email">Email</label>
                                            <input type="email" id="r_email" class="form-control" placeholder="Your Email *" name="email" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="r_age">Age</label>
                                            <input type="text" id="r_age" class="form-control" placeholder="Your Age *" name="age" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="r_salary">Salary</label>
                                            <input type="number" id="r_salary" class="form-control" placeholder="Your salary *" name="salary" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="r_salary">phoneno</label>
                                            <input type="text" id="r_phoneno" minlength="10" maxlength="10"  class="form-control" placeholder="Your Phone *" name="phoneno" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="r_department">Department</label>
                                                    <select name="department" id="r_department">
                                                        <option value="Technical">Technical</option>
                                                        <option value="Non-Technical">Non-Technical</option>
                                                    </select>
                                        </div>
                                   
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                             
                                </div>
                                </form> 
                            </div>

                <!--====================================registeration tab end================================================================-->
                            <div class="tab-pane fade show {{lval}}" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h3  class="register-heading">Employee Login Form</h3>
                                 <form action="{% url 'login' %}" method="POST" >
                                     {%csrf_token %}
                                <div class="row register-form">
                          
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="l_fname">First Name</label>
                                            <input type="text" id="l_fname" class="form-control" placeholder="First Name *" name="l_fname" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="l_lname">Last Name</label>
                                            <input type="text" id="l_lname" class="form-control" placeholder="Last Name *" name="l_lname" value="" />
                                        </div>
                                       
                                        

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="l_email">Email</label>
                                            <input type="email" id="l_email" class="form-control" placeholder="Email *" name="l_email" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="l_password">Password</label>
                                            <input type="password" id="l_password" class="form-control" placeholder="Password *" name="l_password" value="" />
                                        </div>
                                    
                                       
                                  
                                        <input type="submit" class="btnRegister"  value="Login"/>
                                    </div>
                                   
                                </div>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>

            </div>


{% endblock %}

